{% extends 'home/index.html' %} {% block Contenido %}
<style>
  .contenedor-bordes-redondos {
    border-radius: 15px;
  }
  .bg-color-personalizado {
    background-color: rgb(206, 148, 67);
    border-radius: 15px;
    padding: 30px;
    width: 200%;
    display: block;
  }
  .form-control {
    border-radius: 10px;
    width: 100%;
  }
  table {
    width: 100%;
  }
  td {
    padding: 8px;
    vertical-align: middle;
  }
  input,
  select,
  textarea {
    width: 100%;
    height: 35px;
    padding: 10px 12px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
  }
</style>
<body>
  <div class="container mt-8">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="bg-color-personalizado p- contenedor-bordes-redondos">
          <h2 class="fst-italic lh-1 mb-4">¿Olvidaste tu contraseña?</h2>
          <hr />
          <p>
            Ingresá tu email y te enviaremos instrucciones para restablecerla.
          </p>
          <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Enviar correo</button>
            <button
              class="btn btn-secondary"
              type="button"
              onclick="window.location.href='{% url 'home' %}'"
            >Cancelar
          </button>
          <br />
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock Contenido %}
