{% extends 'dashboard/principal.html' %} {% block Contenido %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Mis productos</h1>
  <hr style="height: 5px; background-color: black; border: none" />
  <!-- Fila de funciones generales -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <a href="{% url 'nuevo_producto' %}" class="btn btn-primary">
        Nuevo producto
      </a>
    <!-- Buscador y quitar filtro -->
    </div>
    <div>
      <form method="get" id="filtro_categoria_form" class="mb-3">
        <select name="categoria" class="form-select" onchange="document.getElementById('filtro_categoria_form').submit()">
          <option value="">-- Todas las categorías --</option>
          {% for cat in categorias %}
            <option value="{{ cat.id }}" {% if request.GET.categoria == cat.id|stringformat:"s" %}selected{% endif %}>{{ cat.nombre }}</option>
          {% endfor %}
        </select>
      </form>
    </div>
    <div class="d-flex align-items-center">
      {% if request.GET.buscar %}
        <a href="{% url 'misproductos' %}" class="btn btn-outline-secondary me-2" title="Quitar filtro">
          <i class="fa fa-times"></i>
        </a>
      {% endif %}
    
      <form method="get" class="d-flex">
        <input type="text" name="buscar" class="form-control me-2" placeholder="Buscar categoría..." value="{{ request.GET.buscar }}">
        <button class="btn btn-primary" type="submit">Buscar</button>
      </form>
    </div>
    <!-- Fin de buscador y quitar filtro -->
    
  </div>
   <!-- Fin de fila de funciones generales -->
  <hr style="height: 5px; background-color: black; border: none" />
  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Marca</th>
        <th class="text-center">Precio</th>
        <th class="text-center">Stock</th>
        <th class="text-center">Categoria</th>
        <th class="text-center">Ultimo Ingreso</th>
        <th class="text-center">Activo</th>
        <th class="text-center">Acciones</th>
      </tr>
    <thead>
    <tbody> 
      {% for p in productos %}
      <tr>
        <td class="text-center">{{p.id}}</td>
        <td>{{p.nombre}}</td>
        <td class="text-center">{{p.marca}}</td>
        <td class="text-center">{{p.precio}}</td>
        <td class="text-center">{{p.stock}}</td>
        <td class="text-center">{{p.categoria}}</td>
        <td class="text-center">{{ p.fecha_ultimo_ingreso|date:"d/m/Y" }}</td>
        <td class="text-center">{{p.activo}}</td>
        <td class="text-center">
          {% if request.user.is_staff %}
              <a href="{% url 'editar_producto' p.id %}" class="btn btn-outline-success mt-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                  <i class="fa fa-edit fa-sm" title="Editar"></i>
              </a>
              <a href="{% url 'eliminar_producto' p.id %}" class="btn btn-outline-danger mt-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                  <i class="fa fa-trash fa-sm" title="Eliminar"></i>
              </a> 
              <a href="#" class="btn btn-outline-primary mt-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                <i class="fa-solid fa-eye" title="Ver"></i>
              </a> 
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock Contenido %}
