{% extends 'dashboard/principal.html' %} {% block Contenido %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Categorias de Productos</h1>
  <hr style="height: 5px; background-color: black; border: none" />
  <!-- Fila de funciones generales -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <a href="{% url 'nueva_categoria' %}" class="btn btn-primary">
        Nueva categoría
      </a>
    <!-- Buscador y quitar filtro -->
    </div>
    <div class="d-flex align-items-center">
      {% if request.GET.buscar %}
        <a href="{% url 'categorias' %}" class="btn btn-outline-secondary me-2" title="Quitar filtro">
          <i class="fa fa-times"></i>
        </a>
      {% endif %}
    
      <form method="get" class="d-flex">
        <input type="text" name="buscar" class="form-control me-2" placeholder="Buscar categoría..." value="{{ request.GET.buscar }}">
        <button class="btn btn-primary" type="submit">Buscar</button>
      </form>
    </div>
    <!-- Fin de buscador y quitar filtro -->
    
  </div>
   <!-- Fin de fila de funciones generales -->
  <hr style="height: 5px; background-color: black; border: none" />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Acciones</th>
      </tr>
    <thead>
    <tbody> 
      {% for c in categorias %}
      <tr>
        <td>{{c.id}}</td>
        <td>{{c.nombre}}</td>
        <td>{{c.descripcion}}</td>
        <td>
          {% if request.user.is_staff %}
              <a href="{% url 'editar_categoria' c.id %}" class="btn btn-success mt-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                  <i class="fa fa-edit fa-sm" title="Editar"></i>
              </a>
              <a href="{% url 'eliminar_categoria' c.id %}" class="btn btn-danger mt-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                  <i class="fa fa-trash fa-sm" title="Eliminar"></i>
              </a> 
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock Contenido %}
