{% extends 'dashboard/principal.html' %}
{% block Contenido %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Cambiar contraseña</h1>
  <hr style="height: 5px; background-color: black; border: none" />
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card border-0 mt-4 shadow-lg">
        <div class="card-header text-white text-center py-3 rounded-top" style="background: #ff8800;">
          <h3 class="mb-0">Actualizar contraseña</h3>
        </div>
        <div class="card-body bg-white">
          <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center gap-2 mt-4">
              <button class="btn px-4 text-white" style="background: #ff8800;" type="submit">
                <i class="fa fa-save me-1"></i> Guardar
              </button>
              <a href="{% url 'usuarios:mi_perfil' %}" class="btn btn-secondary px-4">
                <i class="fa fa-times me-1"></i> Cancelar
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock Contenido %}
